@{
    ViewData["Title"] = "Confirmação excluir contato";
}

<div class="text-center">
   <h3>Realmente deseja excluir o contato 'João Victor'?</h3>
</div>

<a class="btn btn-primary col-12" role="button" asp-controller="Contato" asp-action="Index">Cancelar</a><p></p>
<a class="btn btn-danger col-12" role="button" asp-controller="Contato" asp-action="ExcluirContato">Confirmar</a>