@{
    ViewData["Title"] = "Lista de contatos";
}

<div class="text-center">

    <h1 class="display-4"> Lista de contatos</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Celular</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>João Victor</td>
                <td>joaovictor@ufrpe.com</td>
                <td>(81)98913-7482</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-warning" asp-controller="Contato" asp-action="EditarContato">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Contato" asp-action="ExcluirContatoConfirmacao">Excluir</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Priscylla</td>
                <td>primoura@ghotmail.com</td>
                <td>(81)99891-6287</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-warning" asp-controller="Contato" asp-action="EditarContato">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Contato" asp-action="ExcluirContatoConfirmacao">Excluir</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Levi</td>
                <td>levis@gmail.com</td>
                <td>(81)98917-3928</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-warning" asp-controller="Contato" asp-action="EditarContato">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Contato" asp-action="ExcluirContatoConfirmacao">Excluir</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="d-grip gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="CriarContato">Adicionar novo contato</a>
</div>
