@model List<ContatoModel>

<table class="display" id="table-contatos-usuario" style="width:100%">
    <thead>
        <tr>
            <th scope="col" class="text-center">Id</th>
            <th scope="col" class="text-center">Nome</th>
            <th scope="col" class="text-center">Email</th>
            <th scope="col" class="text-center">Celular</th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null && Model.Any())
        {
            @foreach (var contato in Model)
            {
                <tr>

                    <th scope="row" class="text-center">@contato.Id</th>
                    <td class="text-center">@contato.Name</td>
                    <td class="text-center">@contato.Email</td>
                    <td class="text-center">@contato.Celular</td>

                </tr>
            }
        }
        else
        {
            <tr class="odd">

                <th scope="row" class="text-center">Nenhum contato encontrado</th>
                <td class="text-center">x</td>
                <td class="text-center">x</td>
                <td class="text-center">x</td>

            </tr>
        }
    </tbody>
</table>